{% extends "::base.html.twig" %}

{% block title %}AppBundle:Pages:about{% endblock %}

{% block body %}
    <div class="jumbotron">
<h2>Welcome to the Pages:about page</h2>
    </div>
{% endblock %}
