{% extends "::base.html.twig" %}

{% block title %}AppBundle:Pages:profile{% endblock %}

{% block body %}
    <div class="jumbotron">
<h2>Welcome to the Pages:profile page</h2>
    </div>
{% endblock %}
